@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.main-banner__read-more-btn, button {
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: 200ms;
}
.darkTheme .main-banner__read-more-btn, .darkTheme button {
  border-color: #06bae780;
  color: white;
}
.lightTheme .main-banner__read-more-btn, .lightTheme button {
  border-color: #424242;
  color: #ffa260;
}
.darkTheme .main-banner__read-more-btn:hover, .darkTheme button:hover {
  color: white;
  background-color: #06bae780;
}
.lightTheme .main-banner__read-more-btn:hover, .lightTheme button:hover {
  color: white;
  background-color: #424242;
}

.main-banner__contact, .main-banner__sub-title, .main-banner__title {
  user-select: none;
  color: white;
  font-size: 5rem;
  text-shadow: 0.2rem 0.2rem 2px black;
}

.main-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}
.main-banner__content {
  width: fit-content;
  display: block;
  margin-left: 20%;
}
.main-banner__sub-title {
  font-size: 1rem;
}
.main-banner__read-more-btn {
  margin-top: 3rem;
}
.main-banner::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6)), url(../assets/images/retro-car-1.jpg);
  filter: brightness(0.4);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main-banner__contact {
  position: absolute;
  top: 80vh;
  display: flex;
  justify-content: center;
  width: 100vh;
}
.main-banner__contact__icon {
  margin: 15px;
}

#order1 {
  animation: popIn 1500ms ease forwards;
  animation-delay: 0ms;
}

#order2 {
  animation: popIn 1500ms ease forwards;
  animation-delay: 200ms;
}

#order3 {
  animation: popIn 1500ms ease forwards;
  animation-delay: 400ms;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.toggle-darkmode {
  background-color: white;
}
.toggle-darkmode .toggle-control {
  transition-duration: 200ms;
  width: 3rem;
  height: 1.5rem;
  display: block;
  border: 2px solid #8e8e93;
  border-radius: 1.5rem;
  position: relative;
}
.toggle-darkmode .toggle-control:after {
  transition-duration: 200ms;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 3px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}
.toggle-darkmode input {
  display: none;
}
.toggle-darkmode input:checked + .toggle-control {
  border-color: #7da183;
  background-color: #7da183;
}
.toggle-darkmode input:checked + .toggle-control:after {
  left: 1.5rem;
}

.toggle-darkmode {
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: sticky;
  display: flex;
  align-items: center;
  gap: 1rem;
  top: 1rem;
  margin: 0 2rem 0 auto;
  width: fit-content;
}
.darkTheme .toggle-darkmode {
  background-color: #424242;
  color: white;
}
.lightTheme .toggle-darkmode {
  background-color: #f5f5f5;
  color: black;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  padding: 2rem;
}
.darkTheme .content {
  background-color: #424242;
  color: white;
}
.lightTheme .content {
  background-color: #f5f5f5;
  color: black;
}

/*# sourceMappingURL=main.css.map */
