$themes: (
  darkTheme: (
    "text-color": white,
    "bg-color": #424242,
    "button-color": #06bae780,
    "button-font-color": white,
    "button-font-color-active": white,
  ),
  lightTheme: (
    "text-color": black,
    "bg-color": #f5f5f5,
    "button-color": #424242,
    "button-font-color": #ffa260,
    "button-font-color-active": white,
  ),
);
